@import url("styles.css");

[ach-tooltip] {
  position: relative;
}

[ach-tooltip]::before,
[ach-tooltip]::after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[ach-tooltip]::before {
  content: attr(ach-tooltip);
  width: 16rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 3;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #ffffff;
  background-color: #0d0d0d;
  border-radius: var(--var-border-radius, 0.3rem);
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  transform: translateX(-50%);
  transition-duration: 0.4s;
}

[ach-tooltip]::after {
  content: " ";
  width: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 0;
  line-height: 0;
  border-top: 0.5rem solid #0d0d0d;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  margin-left: -0.5rem;
  transition-duration: 0.4s;
}

[ach-tooltip]:hover::before,
[ach-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}